.main#home_main{
  margin: 4vh 2vw 4vh 2vw;
  display: flex;
  max-width: 98vw;
  min-height: 80vh;
  flex-direction: column;
  align-items: center;
}

.container#project_container{
  margin-bottom: 5vh;
  border: 1px solid black;
  min-width: 79vw;
  max-width: 79vw;
  min-height: 35vh;
}

.container#project_container header{
  padding: 0vh 4vw;
  border-bottom: 1px solid black;
  min-width: 79vw;
  max-width: 79vw;
  min-height: 7vh;
  max-height: 7vh;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-start;
}

.main_container#projects_display{
  min-width: 77w;
  max-width: 77vw;
  display: flex;
  flex-wrap: wrap;
}

@media (orientation: portrait) and (max-width: 415px){
  .main_container#projects_display{
    flex-direction: column;
    align-items: center;
  }
}

@media (orientation: landscape) and (max-height: 415px){
  .container#project_container{
    min-height: 60vh;
  }
}
