#treatment_main .page .paragraph_container{
  margin: 8px 0vw;
  border: 1px solid black;
  min-width: 100%;
  max-width: 100%;
  min-height: 35vh;
  font-family: 'Courier Prime', monospace;
  font-size: 12px;
  line-height: 16px;
}

.paragraph_container.active_paragraph{
  min-width: 100% !important;
  max-width: 100% !important;
  min-height: auto !important;
  transition: all 0.5s;
}

.paragraph_container.unactive_paragraph{
  border: none !important; 
  min-width: 100%;
  max-width: 100%;
  min-height: auto !important;
}

.page .paragraph_container > header{
  border-bottom: 1px solid black;
  min-height: 8vh;
  display: flex;
  font-family: 'Courier Prime', monospace !important;
}

.paragraph_container.unactive_paragraph > header{
  display: none !important;
}

.paragraph_container > header > *{
  flex: 1;
}

.paragraph_container > header > input{
  border: none;
}

.paragraph_container > header .button_container{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.paragraph_container > header .button_container button{
  margin: 0vh 0.9vw;
  min-height: 5vh;
  max-height: 5vh;
  min-width: 3vw;
}

.paragraph_container.active_paragraph .body textarea{
  min-height: 16px;
  border: none;
  resize: vertical;
  overflow: auto;
  font-family: 'Courier Prime', monospace !important;
}

.paragraph_container.unactive_paragraph .body{
  min-height: 0vh !important;
}

.paragraph_container.unactive_paragraph .body textarea{
  border: none;
  padding: 0;
  font-family: 'Courier Prime', monospace !important;
  resize: none;
  overflow: hidden;
  line-height: 16px;
}

.body textarea::-webkit-scrollbar{
  display: none;
}

.paragraph_container.active_paragraph .suggestion_icon_container{
  border-top: 1px solid black;
  min-height: 10vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.paragraph_container.unactive_paragraph.empty{
  background-color: #7a7a7a;
}