#projects_display .project_icon{
  margin: 3vh 4vw;
  border: 1px solid black;
  min-width: 15vw;
  min-height: 31vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (orientation: portrait) and (max-width: 415px){
  #projects_display .project_icon{
    min-width: 69vw;
    max-width: 69vw;
    min-height: 8vh;
    max-height: 8vh;
  }
}