.container#project_container{
  margin-bottom: 5vh;
  border: 1px solid black;
  min-width: 77vw;
  max-width: 77vw;
  min-height: 35vh;
}

.container#project_container header{
  padding: 0vh 4vw;
  border-bottom: 1px solid black;
  min-width: 75vw;
  max-width: 75vw;
  min-height: 7vh;
  max-height: 7vh;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-start;
}

.main_container#projects_display{
  min-width: 75vw;
  max-width: 75vw;
  display: flex;
  flex-wrap: wrap;
}

