#login_main {
    min-width: 100vw;
    max-width: 100vw;
    min-height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (orientation: landscape) and (max-height: 281px){
  #login_main{
      margin: 6vh 0vw;
  }
}