#timeline_main #scene_selector{
  border: 1px solid black;
  min-width: 70vw;
  min-height: 50vh;
  border-radius: 25px 25px 0px 0px;
}

#timeline_main #scene_selector header{
  min-height: 10vh;
  border-bottom: 1px solid black;
  display: flex;
}

#scene_selector header div:nth-child(1){
  border-right: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#scene_selector header div:nth-child(3){
  border-left: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#scene_selector header .arrow_container{
  flex: 0.5;
  /* background-color: #696969; */
}

#scene_selector header #scene_number_display{
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

#timeline_main #scene_selector #scene_selector_body{
  display: flex;
  flex-direction: row;
  min-width: 70vw;
  min-height: 40vh;
}

#scene_selector #scene_selector_body .details_container{
  min-width: 50vw;
  max-width: 50vw;
  min-height: 25vh;
}

#scene_selector_body .details_container textarea{
  border: none;
  padding-top: 5vh;
  min-width: 50vw;
  max-width: 56vw;
  min-height: 39vh;
  text-align: center;
  resize: none;
  font-family: 'Courier New', Courier, monospace;
}

#scene_selector #scene_selector_body .scene_props_container{
  min-width: 20vw;
  max-width: 20vw;
  min-height: 40vh;
  max-height: 40vh;
  display: flex;
  flex-direction: row;
}

#scene_selector_body .scene_props_container > div{
  border-left: 1px solid black;
  flex: 1;
  min-height: 40vh;
  max-height: 40vh;
  display: flex;
  flex-direction: column;
}

.scene_props_container > div .cycler{
  border-bottom: 1px solid black;
  min-height: 35vh !important;
  max-height: 35vh !important;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.scene_props_container > div > div{
  display: flex;
}

.scene_props_container > div > div button {
  flex: 1;
}

.cycler > div{
  width: 100%;
  border-bottom: 1px solid black;
  min-height: 5vh;
}

.cycler > div.selected{
  background-color: green;
}

.cycler .empty{
  min-height: 10vh !important;
  max-height: 10vh !important;
}

.scene_props_container > div button{
  min-height: 5vh;
  max-height: 5vh;
}